* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 /*
}
//Escritorio grande 
@media only screen and (min-width: 992px) and (max-width: 1199px){

}

//Escritorio pequeño /tablet
@media only screen and (min-width: 768px) and (max-width: 991px){

}

/* Tablets y phablets
@media only screen and (min-width: 576px) and (max-width: 767px){

}

/* Teléfonos 
@media only screen and (max-width: 575px){

}

*/
:root {
    --color-de-fondo: #1B1A17;
    --color2-de-fondo: #1F1E1B;
    --fuente-de-letra: 'Inconsolata', monospace;
    --color-titulos: #A35709;
    --color2-titulos: #FF8303;
    --color-parrafos: #F0E3CA;
}
/*Escritorio extra grande */

@media only screen and (min-width: 1200px){

    body{
        background-color: var(--color-de-fondo);
    }
    
    nav {
        margin: 30px;
        display: flex;
        justify-content: space-between;
    }
    
    .bi-list {
        display: none;
    }
    
    .bi-x-lg {
        display: none;
    }
    
    #links ul{
        display: flex;
        gap: 20px;
        list-style: none;
        margin-right: 20px;
    }
    
    #links ul a{
        text-decoration: none;
        font-size: 20px;
        font-family: var(--fuente-de-letra);
        color: var(--color-parrafos);
        font-weight: bold;
    }
    
    #links ul li:first-child a{
        color: var(--color-titulos);
    }
    
    
    #links ul a:hover{
        color: var(--color-titulos);
    }
    
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30vh;
        padding-top: 30px;
        margin: 30px;
        font-family: var(--fuente-de-letra);
    }
    
    .info{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 50%;
        margin-left: 10vh;
        padding-top: 20vh;
    }
    
    .info h1{
        font-size: 40px;
        color: var(--color-titulos);
    }
    
    .info h2{
        font-size: 32px;
        color: var(--color-parrafos);
    }
    
    .info p{
        font-size: 16px;
        color: var(--color-parrafos);
        width: 50vh;
    }
    
    .fotos-header{
        width: 100%;
    }
    
    #fondo{
        position: absolute;
        width: 500px;
    }
    
    #foto{
        position: relative;
        top: 50%;
        left: 25%;
        border-radius: 15px;
        width: 250px;
        height: 250px;
    }
    
    main{
        margin-top: 40vh;
    }
    
    .sobre-mi{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap:30px;
        margin-bottom: 10vh;
    }
    
    .sobre-mi p{
        color: var(--color-parrafos);
        font-size: 20px;
        font-family: var(--fuente-de-letra);
        width:50%;
        text-align: justify;
    }
    
    .skills {
        display: flex;
        flex-direction: column;
        justify-content: c;
        align-items: center;
        font-family: var(--fuente-de-letra);
        color: var(--color-parrafos);
        margin-bottom: 10vh;
    }
    
    .skills h2{
        font-size: 40px;
        margin-bottom: 5vh;
    }
    
    .contenedor-skills{
        display: flex;
        gap: 50px;
    }
    
    .tarjeta-skill{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--color2-de-fondo);
        padding: 30px;
        gap: 20px;
        border-radius: 10px;
        transition: all 1s ease-in-out;
    }
    
    .tarjeta-skill:hover{
        transform: scale(1.2)
    }
    .hover-skills{
        opacity: 1;
        width: auto;
        height: auto;
    }
    #original{
        position: absolute;
        cursor: pointer;
    }
    
    #original:hover{
        opacity: 0;
    }
    
    .misProyectos{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20vh;
    }
    
    .misProyectos img{
        width: 100%;
        border-radius: 15px;
    }
    
    .tarjeta{
        font-family: var(--fuente-de-letra);
        display: flex;
        align-items: center;
        flex-direction: column;
        border-radius: 15px;
        gap: 30px;
        padding: 10vh;
        margin: 30px;
        background-color: var(--color2-de-fondo);
    }
    
    .tarjeta h3{
        color: var(--color-titulos);
        font-size: 32px;
        text-align: center;
    }
    
    .tarjeta span{
        color: var(--color-parrafos);
        border-bottom: 2px solid #A35709;
        padding-bottom: 5px;
        width: 100%;
        text-align: center;
    }
    
    .tarjeta p{
        color: var(--color-parrafos);
        text-align: center;
    }
    
    .tarjeta a{
        color: var(--color-parrafos);
        padding: 10px;
        background-color: #32312E;
        border-radius: 5px;
        text-decoration: none;
    }
    
    .tarjeta a:hover{
        transition: all 0.5s ease-in-out;
        transform: scale(1.2);
        background-color: #FF8303;
    }
    
    footer{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 10vh;
        font-family: var(--fuente-de-letra);
    }
    
    .logo-footer{
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }
    
    .logo-footer p{
        width: 40vh;
        font-size: 20px;
        text-align: center;
        color: var(--color-parrafos);
    }
    
    .contactos {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    
    .contactos h2{
        color: var(--color-titulos);
        font-size: 40px;
    }
    
    .redes{
        display: flex;
        font-size: 20px;
        flex-direction: column;
        gap: 10px;
        color: var(--color-parrafos);
    }
    
    .redes i{
        color: var(--color-parrafos);
    
    }
    .redes i:hover{
        cursor: pointer;
        color: var(--color-titulos);
        transition: all 0.5 ease-in-out;
    }
    

}
   


@media only screen and (max-width : 575px) {
    body {
        background-color: var(--color-de-fondo);
    }

    nav {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .logo {
        display: flex;
        justify-content: space-around;
        gap: 50px;
    }

    .logo img {
        width: 180px;
        height: 39px;
    }

    .bi-list {
        color: var(--color-parrafos);
        font-size: 48px;
    }

    .bi-x-lg {
        color: var(--color-parrafos);
        font-size: 48px;
        display: none;
    }

    .eliminar-hamburguesa {
        display: none;
    }

    .activar-cerrar {
        display: flex;
    }

    #links {
        opacity: 0;
        width: 0;
        height: 0;
        text-align: center;
    }

    #links ul {
        list-style: none;
        margin-bottom: 50px;
    }

    #links li {
        padding-top: 20px;
    }

    #links ul a {
        text-decoration: none;
        font-size: 24px;
        font-weight: bold;
        font-family: var(--fuente-de-letra);
        color: var(--color-parrafos);
    }

    #links ul li:first-child a {
        color: var(--color-titulos);
    }

    .aparecer-links {
        display: contents;
    }

    /*header*/

    header {
        margin: 20px;
    }

    .info {
        width: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 30px;
        font-family: var(--fuente-de-letra);
    }

    .info h1 {
        font-size: 40px;
        color: var(--color-titulos);
        text-align: left;
    }

    .info h2 {
        font-size: 32px;
        color: var(--color-parrafos);
    }

    .info p {
        text-align: justify;
        font-size: 24px;
        color: #F0E3CA;
    }

    /*fotos-header*/

    #fondo {
        margin-top: 20px;
        position: absolute;
        width: 400px;
    }

    #foto {
        position: relative;
        width: 170px;
        top: 100px;
        left: 70px;
        border-radius: 10px;
    }

    main {
        margin-top: 30vh;
    }

    .sobre-mi {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: var(--fuente-de-letra);
        font-size: 24px;
        color: var(--color-parrafos);
    }

    .sobre-mi img {
        width: 100px;
        height: 100px;
    }

    .sobre-mi p {
        width: 300px;
        text-align: left;
        margin-bottom: 30px;
    }

    /*Skills*/

    .skills {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 30px;
    }

    .skills h2 {
        font-size: 32px;
        font-family: var(--fuente-de-letra);
        color: var(--color-titulos);
        padding: 30px;
    }

    .contenedor-skills {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }


    .tarjeta-skill{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 15px;
        background-color: #1F1E1B;
        width: 285px;
        height: 60px;
        padding: 10px;
        border-radius: 10px;
    }

    .tarjeta-skill img{
        width: 28px;
        height: 32px;
    }

    .tarjeta-skill span{
        font-size: 24px;
        font-family: var(--fuente-de-letra);
        color: var(--color-parrafos);
    }

    .hover-skills{
        opacity: 1;
    }

    #original{
        position: absolute;
    }

    #original:hover{
        opacity: 0;
    }

    /*Mis trabajos*/

    .misProyectos{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .misProyectos img{
        width: 80%;
        border-radius: 10px;
    }

    .tarjeta{
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        margin-top: 50px;
        background-color: #1F1E1B;
        padding: 30px;
        border-radius: 10px;
    }

    .tarjeta h3{
        font-size: 32px;
        font-family: var(--fuente-de-letra);
        color: var(--color-titulos);
        text-align: center;
    }

    .tarjeta span{
        color: var(--color-parrafos);
        font-size: 16px;
        font-family: var(--fuente-de-letra);
        border-bottom:2px solid #A35709;
        padding-bottom: 5px;
        width: 100%;
        text-align: center;
    }
    .tarjeta p{
        width: 300px;
        text-align: center;
        color: var(--color-parrafos);
        font-size: 18px;
        font-family: var(--fuente-de-letra);
    }

    .tarjeta a{
        background-color: #32312E;
        font-size: 18px;
        padding-top: 15px;
        width:138px;
        height: 51px;
        border-radius: 5px;
        text-decoration: none;
        text-align: center;
        color: #F0E3CA;
        font-family: var(--fuente-de-letra);
    }
/*Footer*/
footer{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.logo-footer p{
    width: 80%;
    text-align: center;
    color: var(--color-parrafos);
    font-size: 20px;
    font-family: var(--fuente-de-letra);
}


.contactos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-family: var(--fuente-de-letra);
}

.contactos h2{
    font-size: 32px;
    color: var(--color-titulos);
    gap: 10px;
}

.redes{
    margin-top: 20px;
    display: flex;
    gap: 10px;
    font-size: 20px;
    color: var(--color-parrafos);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.redes a{
    text-decoration: none;
}

.redes a i{
    color: var(--color-parrafos);
}

}